/* COLORS VARIABLES */
/******************************/
:root {
  --color-primary: hsl(158, 36%, 37%);
  --bg-color: hsl(30, 38%, 92%);
  --text-dark: hsl(212, 21%, 14%);
  --text-light: hsl(228, 12%, 48%);
  --color-white: hsl(0, 0%, 100%);
  --family-font-primary: "Montserrat", sans-serif;
  --family-font-accents: "Fraunces", sans-serif;
}

body {
  background-color: var(--bg-color);
  font-family: var(--family-font-primary);
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--text-light);

  display: grid;
  place-content: center;
  padding: 1rem;
}

/* UTILITIES */
/******************************/
.flex-container {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin: 1.5rem 0 1.25rem 0;
}

.sr-only:not(:focus):not(:active) {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* BUTTON COMPONENTS */
/******************************/
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
  color: var(--color-white);
  font-weight: 700;
  padding: 0.9375rem;
  transition: 0.5s;
  width: 100%;
}

.btn[data-icon="shopping-cart"]::before {
  content: "";
  background-image: url("images/icon-cart.svg");
  width: 15px;
  height: 16px;
}

.btn:is(:hover, :focus) {
  background-color: hsl(158, 42%, 18%);
}

/* PRODUCT STYLES */
/******************************/
.product {
  display: grid;

  border-radius: 10px;
  background-color: var(--color-white);
  overflow: hidden;
  max-width: 400px;
}

.product__content {
  padding: 1.5rem;
}

/* TEXT STYLES */
/******************************/
.lead-text {
  line-height: 23px;
}
.secondary-text {
  font-family: "Fraunces", sans-serif;
  font-size: 2rem;
  line-height: 32px;
}

.product__category {
  font-size: 0.75rem;
  line-height: 14.5px;
  letter-spacing: 5px;
  text-transform: uppercase;

  margin-bottom: 0.75rem;
}

.product__title {
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.product__price {
  color: var(--color-primary);
}

.product__price-old {
  font-size: 0.8125rem;
}

@media (min-width: 650px) {
  .product {
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
  }

  .product__content {
    padding: 2rem;
  }

  .flex-container {
    margin: 1.8125rem 0 1.875rem 0;
  }

  .product__category {
    margin-bottom: 1.25rem;
  }

  .product__title {
    margin-bottom: 1.5rem;
  }
}
