* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS VARIABLES */
/******************************/
:root {
  --color-primary: hsl(158, 36%, 37%);
  --bg-color: hsl(30, 38%, 92%);
  --text-dark: hsl(212, 21%, 14%);
  --text-light: hsl(228, 12%, 48%);
  --color-white: hsl(0, 0%, 100%);
}

/* basic CSS reset */
/******************************/
html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  background-color: var(--bg-color);
  font-family: "Montserrat", sans-serif;
  color: var(--text-light);
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

h1,
h2,
h3,
p {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

/* LAYOUT */
/******************************/
.container {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 3rem 0;
}

.card-component {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-white);
  max-width: 343px;
}

#image-desktop {
  display: none;
}

#image-mobile {
  display: block;
}

.card-component--description {
  padding: 2.4rem;
}

.price-container {
  display: flex;
  align-items: center;
  margin: 2.4rem 0 2rem 0;
}

/* TEXT STYLES */
/******************************/
.lead-text {
  font-size: 1.4rem;
  line-height: 23px;
}

.secondary-text {
  font-family: "Fraunces", sans-serif;
  font-size: 3.2rem;
  line-height: 32px;
}

.overline {
  font-size: 1.2rem;
  line-height: 14.5px;
  letter-spacing: 5px;
  text-transform: uppercase;

  margin-bottom: 1.2rem;
}

.product-title {
  color: var(--text-dark);

  margin-bottom: 1.6rem;
}

.price--new {
  color: var(--color-primary);
}

.price--old {
  text-decoration: line-through;
  font-size: 1.3rem;
  line-height: 23px;
  margin-left: 1.9rem;
}

/* BUTTON COMPONENTS */
/******************************/
.btn {
  width: 100%;
  display: inline-block;
  border: none;
  border-radius: 8px;
  padding: 1.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: 0.5s;

  text-align: center;
  line-height: 17px;
}

.btn:hover {
  background-color: hsl(158, 42%, 18%);
}

.icon {
  display: inline;
  vertical-align: middle;
  margin-right: 1rem;
}

@media (min-width: 900px) {
  .card-component {
    flex-direction: row;
    min-width: 600px;
  }

  .card-component--image {
    width: 50%;
  }

  #image-desktop {
    display: block;
  }

  #image-mobile {
    display: none;
  }

  .card-component--description {
    padding: 3.2rem;
    width: 50%;
  }

  .price-container {
    display: flex;
    align-items: center;
    margin: 2.9rem 0 3rem 0;
  }

  .overline {
    margin-bottom: 2rem;
  }

  .product-title {
    margin-bottom: 2.4rem;
  }
}
